<%-include("partials/header");-%>

    <h1>
        Compose
    </h1>
    <form action="/compose" method="POST">

        <label for="">Title</label> <br>
        <input type="text" name="postTitle" size=100><br>

        <label for="">Post</label> <br>
        <textarea name="postBody" id="" cols="30" rows="10"></textarea> <br>

        <button type="submit" >Publish</button>
    
    </form>

<%-include("partials/footer");-%>